/* Header - main panel */
a {
    text-decoration: none;
    color: black;
}

.main-panel {
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "contact search_bar options"
    "logo products products";
}

#header-contact {
    grid-area: contact;
    justify-self: center;
    align-items: center;
    padding: 7px;
    display: flex;
    gap: 5px;
    font-size: 0.85rem;
}

.contact-type {
    margin: 10px;
}

/*#phone-number-contact {*/
/*    display: flex;*/
/*    padding: 15px;*/
/*    grid-area: contact;*/
/*    color: var(--black-color);*/
/*}*/


/*#email-contact {*/
/*    display: flex;*/
/*    grid-area: contact;*/
/*    padding: 15px;*/
/*}*/


#phone-number-contact:hover,
#email-contact:hover,
#option_menu_userAccount:hover,
#option_menu_shopping_cart:hover,
#option_menu_sell_product:hover
{
    filter: invert(30%) sepia(100%) saturate(5000%) hue-rotate(345deg) brightness(90%) contrast(90%);
}


#search-block {
    grid-area: search_bar;
}

form.search-bar {
    padding: 20px;
    justify-content: center;
    align-self: center;
    grid-area: search_bar;
}

form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.search-bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--red-color);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-bar button:hover {
    background: var(--moreRed--color);
}

form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

#options {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    grid-area: options;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options-text {
    display: flex;
    flex-direction: column;
    align-self: baseline;
}

.header_option {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#option_menu_userAccount,
#option_menu_shopping_cart,
#option_menu_sell_product{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Header - Navigation panel*/
.logo-block,
#products-block {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    font-family: 'Teko', sans-serif;
    font-size: 1.25em;
}

.logo-block {
    padding: 6px;
    display: flex;
    justify-content: center;
    grid-area: logo;
    background-color: var(--red-color);
    align-items: baseline;
}

.logo {
    display: flex;
    padding-top: 7px;

}

.bjj-text {
    padding-right: 5px;
    font-size: 48px;
    font-family: "Algerian", sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo-png {
    display: flex;
    padding-top: 7px;
}

/* Products */

#products-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: products;
    background-color: var(--red-color);
}

.product {
    align-content: center;
    height: 81px;
    background-color: var(--red-color);
    flex-grow: 1;
}

.category-href {
    display: flex;
    justify-content: center;
}

.product:hover {
    background-color: #F62334FF;
    box-shadow: 10px 10px 20px #ff1616;
}

/* END Header */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    background-color: var(--black-color);
}

/* END Footer */
