.logo-block,
#products-block {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    font-family: 'Teko', sans-serif;
    font-size: 1.25em;
}

.logo-block {
    padding: 6px;
    display: flex;
    justify-content: center;
    grid-area: logo;
    background-color: var(--red-color);
    align-items: baseline;
}

.logo {
    display: flex;
    padding-top: 7px;

}

.bjj-text {
    padding-right: 5px;
    font-size: 48px;
    font-family: "Algerian", sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo-png {
    display: flex;
    padding-top: 7px;
}
