#produkty-span {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 1.85rem;
    font-family: 'Teko', sans-serif;
}

.image-gallery, .last-seen-gallery {
    height: auto;
    position: relative;
    display: grid;
    margin: 50px;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-block {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 30px;
    font-family: 'Montserrat', 'Teko', Arial, sans-serif, 'Arial', 'Helvetica', sans-serif;
    box-shadow: 0 0 3px #eaeaea;
}

.product-block:hover {
    box-shadow: 0 0 3px #eaeaea;
}

.product-wrapper {
    display: flex;
    margin: 10px;
}

.product-image {
    max-width: 100%;
    width: auto;
    height: 550px;
    object-fit: contain;
}

.product-info {
    width: 80%;
}

.product-name {
    font-weight: normal;
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.cart-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--red-color);
}

.cart-icon {
    display: flex;
    width: 30px;
    height: 32px;
    align-content: center;
}

.cart-button-area:hover {
    background-color: var(--moreRed--color);
    box-shadow: 1px 1px 1px #ff1616;
}

.product-name:hover {
    color: var(--red-color);
}

.product-block:hover {
    box-shadow: 0 0 20px #eaeaea;
}