:root {
    --black-color: #1C2826;
    --red-color: hsl(356, 96%, 63%);
    --moreRed--color: hsl(355, 92%, 55%);
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

/* Header - main panel */

.main-panel {
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "contact search_bar options"
    "logo products products";
}

#header-contact {
    grid-area: contact;
    justify-self: center;
    align-items: center;
    padding: 7px;
    display: flex;
    gap: 5px;
    font-size: 0.85rem;
}

#phone-number-contact {
    display: flex;
    padding: 15px;
    grid-area: contact;
    color: var(--black-color);
}

#phone-number-contact::before {
    content: url("../svg/phone.svg");
    padding-right: 3px;
}

#phone-number-contact:hover,
#phone-number-contact:hover::before,
#email-contact:hover,
#email-contact:hover::before,
#option_menu_userAccount:hover,
#option_menu_userAccount:hover:before,
#option_menu_shopping_cart:hover,
#option_menu_shopping_cart:hover:before,
#option_menu_sell_product:hover,
#option_menu_sell_product:hover:before {
    filter: invert(30%) sepia(100%) saturate(5000%) hue-rotate(345deg) brightness(90%) contrast(90%);
}


#email-contact {
    display: flex;
    grid-area: contact;
    padding: 15px;
}

#email-contact:before {
    content: url("../svg/mail.svg");
    padding-right: 3px;
}

#search-block {
    grid-area: search_bar;
}

form.search-bar {
    padding: 20px;
    justify-content: center;
    align-self: center;
    grid-area: search_bar;
}

form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.search-bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--red-color);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-bar button:hover {
    background: var(--moreRed--color);
}

form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

#options {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    grid-area: options;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options-text {
    display: flex;
    align-self: baseline;
}

.header_option {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#option_menu_userAccount:before {
    content: url("../svg/account.svg");
    justify-self: center;
    width: 32px;
    height: 32px;
    padding-left: 25px;
}

#option_menu_shopping_cart:before {
    content: url("../svg/cart.svg");
    justify-self: center;
    width: 32px;
    height: 32px;
    padding-left: 8px;
}

#option_menu_sell_product:before {
    content: url("../svg/sell.svg");
    width: 64px;
    padding-left: 50px;
}

/*Header - Navigation panel*/
.logo-block,
#products-block {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    font-family: 'Teko', sans-serif;
    font-size: 1.25em;
}

.logo-block {
    padding: 6px;
    display: flex;
    justify-content: center;
    grid-area: logo;
    background-color: var(--red-color);
    align-items: baseline;
}

.logo {
    display: flex;
    padding-top: 7px;

}

.bjj-text {
    padding-right: 5px;
    font-size: 48px;
    font-family: "Algerian", sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo-png {
    display: flex;
    padding-top: 7px;
}

/* Products */

#products-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: products;
    background-color: var(--red-color);
}

.product {
    align-content: center;
    height: 81px;
    background-color: var(--red-color);
    flex-grow: 1;
}

.category-href {
    display: flex;
    justify-content: center;
}

.product:hover {
    background-color: #F62334FF;
    box-shadow: 10px 10px 20px #ff1616;
}

/* END Header */
/* Main */

#produkty-span {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 1.85rem;
    font-family: 'Teko', sans-serif;
}

.image-gallery {
    height: auto;
    position: relative;
    display: grid;
    margin: 50px;
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "product1 product2 product3 product4";
}

.product-block {
    box-shadow: 0 0 3px #eaeaea;
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-family: 'Montserrat','Teko',Arial,sans-serif,'Arial','Helvetica',sans-serif;
}

.product-wrapper {
    display: flex;
    margin: 10px;
}

.product-info {
    width: 80%;
}

.product-name {
    font-weight: normal;
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.cart-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--red-color);
}

.cart-icon {
    content: url("../svg/cart.svg");
    display: flex;
    width: 30px;
    height: 32px;
    align-content: center;
}

.cart-button-area:hover {
    background-color: var(--moreRed--color);
    box-shadow: 1px 1px 1px #ff1616;
}

.product-name:hover {
    color: var(--red-color);
}

.product-block:hover {
    box-shadow: 0 0 20px #eaeaea;
}

.product-image {
    background-color: #1C2826;
    height: 75%;
}

/* END Main */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    background-color: var(--black-color);
}

/* END Footer */


