:root {
    --black-color: #1C2826;
    --red-color: hsl(356, 96%, 63%);
    --moreRed--color: hsl(356, 96%, 63%);
}

body {
    margin: 0 auto;
}

main {
    font-family: Teko, sans-serif;
    align-items: flex-end;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

h1,p {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.25rem;
}


#no-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-table {
    width: 100%;
}

.cart-table,th,td,tr {
    border: 2px solid;
    text-align: center;
    border-collapse: collapse;
}

td {
    font-family: 'Montserrat', 'Teko', Arial, sans-serif, 'Arial', 'Helvetica', sans-serif;
}

.img-cell {
    width: 20%;
}

.cart-image {
    width: 120px;
    height: auto;
}

#summarize-container {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #e6e6e6;
    border-left: var(--red-color) solid 6px;
    border-radius: 4px;
    width: 50%;
    height: 100px;
}

#sum-text {
    padding-left: 50px;
    font-size: 1.67rem;
}
