:root {
    --black-color: #1C2826;
    --red-color: hsl(356, 96%, 63%);
    --moreRed--color: hsl(0, 100%, 54%);
}
body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

h1, p {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.25rem;
}


#no-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', 'Teko', Arial, sans-serif, 'Arial', 'Helvetica', sans-serif;
}
