:root {
    --black-color: #1C2826;
    --red-color: hsl(356, 96%, 63%);
    --moreRed--color: hsl(356, 96%, 63%);
}

body {
    margin: 0 auto;
}

main {
    font-family: Teko, sans-serif;
}

#container-container {
    border-left: 4px solid var(--red-color);
    border-radius: 3px;
}

h3 {
    display: flex;
    justify-content: center;
}

#product-info-container {
    display: flex;
    align-items: flex-start;
    margin: 40px 40px 40px 80px;
}

#more-info-block {
    width: 100%;
}

#more-info {
    margin-left: 40px;
}


.description-text {
    font-family: 'Montserrat', 'Teko', Arial, sans-serif, 'Arial', 'Helvetica', sans-serif;
}

#add-comment-rating-container {
    margin: 40px 40px 80px;
}

#add-comment-rating-form {
    display: flex;
    flex-direction: column;
}

#add-comment-rating-form {
}

#reviews {
    display: flex;
    flex-direction: column;
}

#review-h3 {

}

.rating, .comment {
    font-size: 1.25rem;
}

